<div class="container">
    <div class="row my-5">
        <div class="col-10">
            <h1>Meetings</h1> 
        </div>    
        <div class="col-2">
            <button type="button" class="btn btn-dark float-right mt-3" (click)="openMeetingDialog(addMeetingModal)">New Meeting</button>
        </div>    
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Meeting ID</th>
                  <th scope="col">Topic</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Participants</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of meetingList ; index as idx">
                  <th scope="row">{{idx+1}}</th>
                  <td>{{ list ["topic"]}}</td>
                  <td>{{ list ["date"] }}</td>
                  <td>{{ list ["time"] }}</td>
                  <td>{{ list ["participants"] }}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-dark me-1" (click)="openMeetingDialog(addMeetingModal, list)">Edit</button>
                    <button type="button" class="btn btn-sm btn-danger">Cancel</button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>

</div>

<ng-template #addMeetingModal let-modal class="bg-modal">
  <app-addmeeting [meetingInfo]="meetingInfo" (closeModel)="closeModel(addMeetingModal)"></app-addmeeting>
</ng-template>