<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Client</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>    
<div class="modal-body">
    <form [formGroup]="addClientForm">
        <div class="form-group col mt-2">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" >
        </div>
        <div class="form-group col mt-2">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>
        <div class="form-group col mt-2">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group col mt-2">
            <label>Contact Number</label>
            <input type="text" class="form-control" name="contact">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">
        Cancel
      </button>
      <button type="submit" class="btn btn-dark btn-sm" [disabled]="loader">
        Add Client
        <span *ngIf="loader">&nbsp;</span>
        <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>

</div> 