<div class="container">
  <div class="row my-5">
      <div class="col-12">
          <h1>Dashboard</h1> 
      </div>    
  </div>

  <div class="row">
      <table class="table table-striped">
          <thead>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Meeting Details</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dash of dashList; index as idx">
                <th scope="row">{{idx+1}}</th>
                <td>{{ dash ["firstName"] }}</td>
                <td>{{ dash ["email"] }}</td>
                <td>{{ dash ["contact"] }}</td>
              </tr>
            </tbody>
      </table>
  </div>

</div>