.navbar-brand, .pgtitle {
    font-family: gravesend-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    margin-right: 50px;
}

.pgtitle {
    font-size: 1em;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
}

.nav-link {
    text-transform: uppercase;
}