<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Arki</a>
    <!-- <span class="me-auto pgtitle" style="color: #fff;" >Architectural Firm</span> -->
    <ul class="navbar-nav float-right">
      <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/clients">Clients</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/meetings">Meetings</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page"routerLink="/login">Logout</a></li>
    </ul>
    
  </div>  
</nav>

  