@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import url("https://use.typekit.net/gvs0nln.css");

h1 {
    font-family: gravesend-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}

body {
    background: url('/assets/img/bg-page.jpg') no-repeat bottom right; 
    height: 100vh;
}